.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar {
	padding: 0.8rem 1rem;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.hand {
  cursor: pointer;
}

.d-flex {
	display: flex !important;
}

.g-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: left;
  min-height: 0.2rem;
}

:hover.hand {
  background: linear-gradient(
                45deg,
                rgba(31, 245, 206, 0.5),
                rgba(131, 87, 200, 0.5) 100%
              );
}

.space {
  padding-top: 1rem;
}
