<header>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="text-white bg-dark p-4">
        <h1 class="move"><strong>Monet information</strong></h1>
        &nbsp;
        <ul>
          <li><a class="text-info" target="_blank" href="https://en.wikipedia.org/wiki/Claude_Monet">Wikipedia</a></li>
          <li><a class="text-info" target="_blank" href="https://www.todocuadros.com.co/pintores-famosos/monet/">Paintings</a></li>
          <li><a class="text-info" target="_blank" href="https://www.biografiasyvidas.com/biografia/m/monet.htm">Biography</a></li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="nav-container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-dark navbar-toggler-icon"></span>
        </button>
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          &nbsp;&nbsp;
          <strong class="font-italic">{{title}}</strong>
        </a>
      </div>
    </nav>
  </div>
</header>
