.navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, 255);
  border-color: rgba(0, 0, 0, 0);
}

.navbar {
	padding: 1rem 1rem;
}

.nav-container {
  display: flex;
  width: 33vw;
	justify-content: flex-end;
}

.move {
  margin-left: 1.4rem;
}
